-
    const defaultProdCardProps = {
        classes: '',
        title: 'Фасад прямой с решеткой №1',
        img: 'img/catalog/prod_1.webp',
        tags: [],
        isFavorite: false
    }

mixin prod-card(props = defaultProdCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultDlBtnProps.classes,
            title: props.title ? props.title : defaultDlBtnProps.title,
            img: props.img ? props.img : defaultDlBtnProps.img,
            tags: props.tags ? props.tags : defaultDlBtnProps.tags,
            isFavorite: props.isFavorite ? props.isFavorite : defaultDlBtnProps.isFavorite,
        }

        let favoriteClass = checkProps.isFavorite === true ? ' prod-card--favorite' : ''

    .prod-card(class=checkProps.classes + favoriteClass data-js="prodCard")&attributes(attributes)
        a.prod-card__link(href="javascript:void(0);")
        .prod-card__top
            .prod-card__img
                img(src=checkProps.img, alt="")

            a.prod-card__favorite(href="javascript:void(0);")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#c_favorite`)

            - if(checkProps.tags && checkProps.tags.length > 0)
                .prod-card__tags
                    - let tagsCount = 0
                    - let tagsList = checkProps.tags
                    - while(tagsCount < tagsList.length)
                        - let tag = tagsList[tagsCount]
                        - let color = tag.text.includes('Распродажа') ? '#B10024' : tag.text.includes('Хит') ? '#B75A00' : '#0D6E00'
                        .prod-card__tag(style=`background-color: ${color}`)
                            img(src=tag.icon, alt="")
                            span!= tag.text

                        - tagsCount++


        .prod-card__title!= checkProps.title

