-
    const defaultSConditionsProps = {
        classes: '',
        cards: [
            {
                icon: 'img/conditions/conditions_1.svg',
                title: 'ДОСТАВКА <br>И СБОРКА МЕБЕЛИ',
                text: 'Доставим ваш заказ и соберём мебель на квартире в один день'
            },
            {
                icon: 'img/conditions/conditions_2.svg',
                title: 'БЕСПЛАТНОЕ <br>ИЗГОТОВЛЕНИЕ',
                text: '3D-макета командой дизайнеров'
            },
            {
                icon: 'img/conditions/conditions_3.svg',
                title: 'БЕСПЛАТНЫЙ <br>ЗАМЕР',
                text: 'Вызови мастера на бесплатный замер для изготовления мебели' 
            },
            {
                icon: 'img/conditions/conditions_4.svg',
                title: 'ГАРАНТИРУЕМ <br>ИЗГОТОВЛЕНИЕ В СРОК',
                text: 'Выплачиваем неустойку 0,01% за каждый просроченный день'
            }
        ]

    }

mixin s-conditions(props= defaultSConditionsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSConditionsProps.classes,
            cards: props.cards ? props.cards : defaultSConditionsProps.cards
        }

    section.s-conditions.section.section--inner(class= checkProps.classes data-anim-id="sConditions")&attributes(attributes) 
        .d-container
            .s-conditions__list
                - let cardsCount = 0
                - let cardsList = checkProps.cards

                - while(cardsCount < cardsList.length)
                    -let card = cardsList[cardsCount]
                    .condition-card(data-aos="fade-up" data-aos-duration="1000" data-aos-delay=((cardsCount + 1) * 200) data-aos-anchor="[data-anim-id='sConditions']" data-aos-anchor-placement="top-bottom")
                        .condition-card__num!= cardsCount + 1 < 10 ? `0${cardsCount + 1}` : cardsCount + 1
                        .condition-card__icon
                            img(src=card.icon alt="")
                        .condition-card__title!= card.title
                        .condition-card__text.text-editor!= card.text

                    - cardsCount++

